@media (max-width:1138px) {
    .popup{
        position: absolute;
        height: auto;
        padding: 0px 0px;
        padding-top: 30px;
    }
    .pop-imgs{
        display: none;
    }
    .pop-btn{
        justify-content: center;
        align-items: center;
        
        display: flex;
    }
    .pop-content{
      
        padding: 10px 0px;
        
        
    } 
}
@media (max-width:670px) {
    
    .section-title{
        padding: 40px 0px;
        font-weight: 400;
        width: 100%;
        text-align: center;
        font-size: 1.8rem;
    
    }
    .head{
    text-align: center;
    padding: 20px 0px;
    }
    
    
    .burger{
        display: block;
        font-size: 4.5rem;
        text-align: right;
        width: 100%;
        padding-right: 20px;
    }
   
    
    ul{
        display: none;
    }

    .sale{
        background-image: none;
        flex-direction: column;
        row-gap: 0px;
    }
    .sale-img{
        display: block;
        width: 100%;
        margin-bottom: 0px;
    }
    .sale-img img{
        width: 100%;
        margin-bottom: 0px;
    }

    .sale-content{
        padding-left: 0px;
        align-items: center;
        margin-bottom: 0px;
        background-color: hsla(0, 0%, 16%, 0.63);
        margin-top: 0px;
        flex-direction: column;
        text-align: center;

    }

    .sale-content h1{
        font-size: 11rem;
        
    }
    .sale-content p{
        margin-bottom: 0px;
        font-size:2rem;
        width: 100%;
    }   

    .arrivals-card.hide{
        display: none;
    }
    .smile{
        height: auto;
    }
    .smile-imgs{
        flex-direction: column;
    }
    .smile-big{
        display: none;

    }
    .smile-half{
        display: block;
        width: 100%;
    }

    .shop-cards{
        flex-direction: column;
        width: 100%;
        height:100%;
    }
    .shop-card{
        width: 100%;
        flex-direction: column;
        height: auto;
       
        
    }
    .shop-card img{
        height: 30%;
        width: 100%;
    }
    .shop-card p{
        text-align: left;
        font-size: 3rem;
        font-weight: 500;
        padding: 20px 5px;
       
    }

    .foot-cards{
        flex-direction: column;
        row-gap: 20px;
    
    }

    .foot-card{
       width: 200px;
    }

    .foot-content{
        
        padding: 20px;
        margin-top: 50px;
        flex-direction: column; 
        align-items: center; 
        justify-content: center;  
        row-gap: 20px;    
    }
    .foot-row{
        text-align: center;
        
    }

    /*Privacy */
    .privacy{
        display: flex;
        align-items: center;
        flex-direction:column;
    }
    .privacy-btn{
        position: relative;
        margin-bottom: 40px;
    }
    .privacy-text{
        color: white;
        width: 100%;
        text-align: justify;
    }
    .privacy-text p {
        color: white;
        font-size: 90%;
        
    }
}